* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Lato;
  line-height: 24px;
}

/* Add styles here! */
.max-width-wrapper {
  max-width: 760px;
  margin: 0 auto;
}

.intro-chunk {
  margin-top: 96px;
  margin-bottom: 64px;
  max-width: 370px;
  padding: 0 56px;
}

.intro-chunk strong {
  color: hsl(160deg, 100%, 30%);
}

.title {
  margin-bottom: 32px;
}

.card {
  padding: 32px 24px;
  margin-top: 32px;
  background-color: white;
  max-width: 550px;
  border-bottom: 5px solid hsl(0deg, 0%, 40%);
}

.indented-heading {
  margin-left: -32px;
  margin-top: -16px;
  padding: 16px 32px;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 3px solid hsl(45deg, 100%, 40%);
  width: fit-content;
}

main {
  background-color: hsl(0deg, 0%, 60%); 
  border-top: 5px solid hsl(0deg, 0%, 40%);
}

section {
  width: 100%;
  padding: 32px;
  background-color: hsl(0deg, 0%, 60%);
}

@media(max-width: 720px){
  .card {
    margin-top: 64px;
    width: 100%;
    max-width: 720px;
  }

  .max-width-wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 720px;
  }
}